@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-input {
  border: 0.5px solid #000 !important;
  border-radius: 0px !important;
}

.movie-box {
  margin-top: 10px;
  background-color: #000;
  width: 300px;
  text-align: center;
  font-weight: bold;
  min-height: 300px;
  border-radius: 10px;
}
.skeleton{
  width: 200px !important;
  height: 150px;
}
@media(max-width:500px){
  .skeleton{
    width: 250px !important;
  }
}